@tailwind base;
@tailwind components;
@tailwind utilities;
.header_main{
    background-color: #F4F6F5;
}
.white{
    -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Safari */
  transform: rotate(-5deg);
}
.yellow{
    background-color: #EBD96B;
}
.arrow:hover {
    animation: arrow 1s linear infinite;
}
@keyframes arrow{
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
.animation {
    animation: anim 10s linear infinite;
    margin-left: 0%;
}
.foto{
    height: 500px;
}
.scroll{
    overflow-x: auto;
}
.asd{
    margin: 0 auto;
}
@media(max-width: 750px){
    @keyframes anim{
        0% {
            margin-left: 0%;
        }
        50% {
            margin-left: -45%;
        }
        100% {
            margin-left: 0%;
        }
    }
}